/target
**/*/target
/.build
/.vscode
/.vimspector.json
/dist
/crates/bld_ui/dist
/crates/bld_server/static_files
/.bld/**/*
!/.bld/config.yaml
!/.bld/pipelines
!/.bld/pipelines/**/*
!/.bld/dockerfiles
!/.bld/dockerfiles/**/*
